* {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: ivory;
}

body {
    background-color: rgb(78, 77, 77);
}
h1, h2, h3 {
    color: indigo;
}

header {
    text-align: center;
}

header p {
    text-align: center;
    flex-wrap: wrap;
}


.title {
    color: indigo
}

main {

}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
}
section {
    border: lavender;
    border-style: solid;
    flex: 1 0 200px;
    margin: 5px;

}

div section {

}

div section h2 {
    border: lavender;
    border-style: dashed;
    text-align: center;
}

pre {
    /* set styles to make it so code wraps in <pre> instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--gin);
    border-radius: 8px;
    /* use linear-gradient() function to create a fading background  */
    background-image: linear-gradient(
      rgba(232, 102, 236, 0.3) 0%,
      rgba(232, 102, 236, 0.6) 100%
    );
    display: flex;
    align-items: center;

  }